<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
         http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

    <context:annotation-config/>

    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
    <import resource="classpath*:ds-context.xml" />

    <bean id="productCatalogueService" class="com.sample.service.impl.ProductCatalogueServiceImpl">
        <property name="productDao" ref="productDaoImpl" />
    </bean>
    <bean id="productRest" class="com.sample.soap.impl.ProductSoapEndPointsImpl">
        <property name="productCatalogueService" ref="productCatalogueService"/>
    </bean>
    <jaxws:endpoint id="soapEndPoint" address="/products" implementor="com.sample.soap.impl.ProductSoapEndPointsImpl"/>
</beans>
